<template>
  <swiper ref="mySwiper" :options="swiperOptions" class="event__items">
    <swiper-slide
      v-for="(item, index) in $t(`events[${activeTimelineSlideIndex}]`)"
      :key="index"
      class="event__item"
    >
      <div class="event__date">{{ item.date }}</div>
      <div class="event__title">{{ item.title }}</div>
      <div class="event__desc">{{ item.desc }}</div>

      <div class="event__address">
        {{ item.address && item.address.name }}
        <a
          :href="`https://` + `${item.address && item.address.link}`"
          target="_blank"
        >
          {{ item.address && item.address.link }}
        </a>
      </div>
    </swiper-slide>
  </swiper>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.min.css'

export default {
  name: 'Carrousel',

  components: {
    Swiper,
    SwiperSlide,
  },

  props: {
    activeTimelineSlideIndex: {
      type: Number,
      required: true,
    },
  },

  data() {
    return {
      inScroll: false,
      swiperOptions: {
        mousewheelControl: true,
        slidesPerView: 2.5,
        centeredSlides: true,
        speed: 700,
        pagination: {
          el: '.swiper-pagination',
        },
        direction: 'horizontal',
        breakpoints: {
          768: {
            slidesPerView: 2.5,
          },

          320: {
            slidesPerView: 1,
            slidesPerColumn: 10,
          },
        },
      },
    }
  },

  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper
    },
    activeEvent() {
      return this.events[this.activeTimelineSlideIndex]
    },
  },

  mounted() {
    this.content = document.querySelector('.event__items')
    this.content.addEventListener('wheel', this.watchScrollWheel)
  },
  destroyed() {
    this.content.removeEventListener('wheel', this.watchScrollWheel)
  },
  methods: {
    watchScrollWheel(e) {
      if (this.inScroll) {
        return
      }

      this.inScroll = true

      setTimeout(() => (this.inScroll = false), 200)
      const isLastYear =
        this.$t('events').length - 1 === this.activeTimelineSlideIndex
      if (isLastYear) {
        return false
      }

      if (e.deltaY > 0 && this.swiper.isEnd) {
        this.$emit('showNextTimelineSlide')
        this.$nextTick(() => {
          this.swiper.slideTo(0, false, false)
          this.swiper.update()
        })
        return
      } else if (e.deltaY < 0 && this.swiper.isBeginning) {
        this.$emit('showPrevTimelineSlide')

        this.$nextTick(() => {
          this.swiper.update()
        })
        return
      }

      e.deltaY > 0 ? this.swiper.slideNext() : this.swiper.slidePrev()
    },

    prevSlide(e) {
      this.watchScrollWheel(e)
    },
    nextSlide(e) {
      this.watchScrollWheel(e)
    },
  },
}
</script>

<style>
.event__item {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  margin: 0 30px;
  user-select: none;
}

@media (max-width: 1680px) {
  .event__item {
    min-height: 230px;
  }
}
@media (max-width: 1200px) {
  .event__item {
    margin: 0;
    padding: 0 24px;
  }
}
@media (max-width: 991px) {
  .event__item {
    min-height: 260px;
  }
}
@media (max-width: 767px) {
  .event__item {
    min-height: auto;
  }
}
.event__date {
  margin-bottom: 8px;
  color: #ffbe76;
  line-height: 24px;
}
.event__title {
  margin-bottom: 8px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
}
@media (max-width: 1680px) {
  .event__title {
    font-size: 30px;
  }
}
@media (max-width: 1280px) {
  .event__title {
    font-size: 26px;
  }
}

.event__desc {
  margin-bottom: 8px;
  color: #8c8c97;
}
.event__address {
  color: #8c8c97;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event__address a {
  color: #00b1bf;
}
</style>
