<template>
  <footer>
    <div class="download">
      <a class="download__link" href="#" download>{{ $t(`presentation`) }}</a>
    </div>
    <Links />
    <div class="policy">
      © 2014–2021
      <a href="#" target="_blank">{{ $t(`privacyPolicy`) }}</a>
    </div>
  </footer>
</template>

<script>
export default {}
</script>

<style>
footer {
  display: flex;
  /* padding: 24px 0 44px; */
  padding: 24px 0;
}
@media (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
    /* padding: 24px 0; */
  }
}
footer .download__link {
  width: max-content;
  color: white;
  text-decoration: none;
  user-select: none;
}
footer .download__link:hover {
  color: #ffbe76;
}
@media (min-width: 768px) {
  footer .download {
    display: none;
  }
}
footer .links {
  display: none;
  margin: 12px 0 36px;
}
footer .links a {
  width: max-content;
  margin: 12px 0;
}
@media (min-width: 768px) {
  footer .links {
    display: none;
  }
}
@media (max-width: 767px) {
  footer .links {
    display: flex;
    flex-direction: column;
  }
}
footer .policy {
  margin-left: auto;
  color: #565669;
}
footer .policy a {
  margin-left: 5px;
  color: #ffbe76;
}
@media (max-width: 767px) {
  footer .policy {
    margin: 12px 0;
  }
}
</style>
