<template>
  <header>
    <a href="https://ufobject.com" target="_blank">
      <Logo />
    </a>
    <Links />
    <Locale :options="options" />
  </header>
</template>

<script>
export default {
  data() {
    return {
      options: ['en', 'ru'],
    }
  },
}
</script>

<style>
header {
  display: flex;
  align-items: center;
  /* padding: 44px 0 24px; */
  padding: 24px 0;
  position: relative;
}
@media (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    /* padding: 24px 0; */
  }
}
header .links {
  margin-left: auto;
  margin-right: 60px;
}
header .links a {
  margin: 0px 20px;
}
@media (max-width: 1440px) {
  header .links {
    margin-right: 30px;
  }
  header .links a {
    margin: 0px 10px;
  }
}
@media (max-width: 1024px) {
  header .links {
    margin-right: 20px;
  }
  header .links a {
    margin: 0px 5px;
  }
}
@media (max-width: 767px) {
  header .links {
    display: none;
  }
}
header .download {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 0;
  user-select: none;
}
header .download svg {
  width: 32px;
  margin-right: 16px;
}
header .download__link {
  color: white;
  text-decoration: none;
}
header .download__link:hover {
  color: #7ed6df;
}
@media (max-width: 1280px) {
  header .download svg {
    width: 24px;
  }
}
@media (max-width: 767px) {
  header .download {
    display: none;
  }
}
</style>
