<template>
  <div class="links">
    <a :href="$t(`twitter`)" target="_blank">Twitter</a>
    <a :href="$t(`telegram`)" target="_blank">Telegram</a>
    <a :href="$t(`github`)" target="_blank">GitHub</a>
    <a :href="$t(`discord`)" target="_blank">Discord</a>
    <a :href="$t(`coinmarketcap`)" target="_blank">Coinmarketcap</a>
    <a :href="$t(`ufobject_com`)" target="_blank">ufobject.com</a>
  </div>
</template>

<script>
export default {}
</script>

<style>
.links {
  user-select: none;
}
.links a {
  color: white;
}
.links a:hover {
  color: #ffbe76;
}
</style>
