<template>
  <div class="custom-select" :tabindex="tabindex" @blur="open = false">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      {{ selected }}
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of options"
        :key="i"
        @click="
          selected = option
          open = false
          $emit('input', option)
          $i18n.locale = option
        "
      >
        {{ option }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    default: {
      type: String,
      required: false,
      default: null,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      selected: this.default
        ? this.default
        : this.options.length > 0
        ? this.options[0]
        : null,
      open: false,
    }
  },
  mounted() {
    this.$emit('input', this.selected)
    // console.log(this)
  },
}
</script>

<style>
.custom-select {
  position: relative;
  width: min-content;
  text-align: left;
  outline: none;
  line-height: 24px;
}
@media (max-width: 767px) {
  .custom-select {
    margin-left: auto;
  }
}
.custom-select .selected {
  margin: 0 5px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid red;
  cursor: pointer;
  user-select: none;
}
.custom-select .items {
  color: #fff;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  background-color: #10273b;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  left: 0;
  right: 0;
  z-index: 100000;
}
.custom-select .items div {
  color: #fff;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}
.custom-select .items div:hover {
  color: #ffbe76;
}

.selectHide {
  display: none;
}
</style>
