<template>
  <svg
    class="logo"
    width="96"
    height="96"
    viewBox="0 0 96 96"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M45.1772 52.2153L31.5829 65.8096C35.8946 74.9354 45.0124 81.3609 55.6532 81.7949V63.6356C49.9792 62.7717 45.5589 58.034 45.1772 52.2153Z"
      fill="white"
    />
    <path
      d="M86.1409 53.9473L86.1048 15.8245H86.1008V11.2917L69.9146 27.4779V51.4036C69.9146 57.5879 65.3577 62.7235 59.4265 63.6397V81.8029C74.2625 81.1841 86.1409 68.9279 86.1409 53.9473Z"
      fill="white"
    />
    <path
      d="M45.1531 46.5775V40.9718V33.9918L28.9348 50.2101L28.9308 53.9473C28.9308 54.988 28.987 56.0167 29.0995 57.0254L22.2682 63.8567L22.2602 67.192L10.004 79.4481V81.7266L45.1531 46.5775Z"
      fill="#007CCD"
    />
    <path
      d="M46.9936 12.1959H45.4545H45.4424H45.1652H45.1531H44.6669H44.3776H43.4011H43.1841H43.1158H42.8988H31.2333H30.944H28.9629H28.6736H27.1345C28.2878 14.0203 28.9629 16.1781 28.9629 18.4847V19.8148L28.9388 39.0229L22.2562 45.7055L22.2722 49.0086L10 61.2809V63.5513L45.1531 28.4062V28.4022V19.6943L45.1652 18.4847C45.1652 16.1741 45.8362 14.0203 46.9936 12.1959Z"
      fill="#00B1BF"
    />
  </svg>
</template>

<style>
/* @media (min-width: 1921px) {
  .logo {
    width: 4.997397188964081vw;
    height: 4.997397188964081vw;
  }
} */
@media (max-width: 1024px) {
  .logo {
    width: 72px;
    height: 72px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 42.35294117647059vw;
    height: 42.35294117647059vw;
  }
}
</style>
