<template>
  <swiper
    ref="mySwiper"
    class="timeline"
    :options="swiperOptions"
    @slideChange="onSlideChange"
  >
    <swiper-slide v-for="item of years" :key="item">{{ item }} </swiper-slide>
  </swiper>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.min.css'

export default {
  name: 'Carrousel',
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    const VM = this
    return {
      swiperOptions: {
        mousewheelControl: true,
        slidesPerView: 3,
        centeredSlides: true,
        speed: 700,
        pagination: {
          el: '.swiper-pagination',
        },
        direction: 'horizontal',
        on: {
          transitionStart() {
            VM.allowNext = false
          },
          transitionEnd() {
            VM.allowNext = true
          },
        },
        breakpoints: {
          1200: {
            slidesPerView: 4,
          },
          991: {
            slidesPerView: 3,
          },
          768: {
            slidesPerView: 2.5,
          },
          640: {
            slidesPerView: 2,
          },
          400: {
            slidesPerView: 1.6,
          },
          320: {
            slidesPerView: 1,
          },
        },
      },
      years: [2014, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    }
  },

  computed: {
    swiper() {
      return this.$refs?.mySwiper?.$swiper
    },
  },

  mounted() {
    this.content = document.querySelector('.timeline')
    this.content.addEventListener('wheel', this.watchScrollWheel)

    for (let i = 0; i < this.years.length; i++) {
      if (new Date().getFullYear() === this.years[i]) {
        this.swiper.activeIndex = i
        this.$emit('setActiveTimelineSlideIndex', i)
      }
    }
    this.swiper.update()
  },
  destroyed() {
    this.content.removeEventListener('wheel', this.watchScrollWheel)
  },
  methods: {
    onSlideChange() {
      this.$emit('setActiveTimelineSlideIndex', this.swiper.activeIndex)
    },
    prevSlide() {
      this.swiper.slidePrev()
    },
    nextSlide() {
      this.swiper.slideNext()
    },
    watchScrollWheel(e) {
      e.deltaY > 0
        ? this.$emit('showNextEventSlide', e)
        : this.$emit('showPrevEventSlide', e)
    },
  },
}
</script>

<style>
.timeline .swiper-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.timeline .swiper-slide {
  color: #16344d;
  font-size: 180px;
  font-family: 'Oswald', serif;
}
@media (max-width: 1680px) {
  .timeline .swiper-slide {
    font-size: 160px;
  }
}
@media (max-width: 1440px) {
  .timeline .swiper-slide {
    font-size: 140px;
  }
}
@media (max-width: 1280px) {
  .timeline .swiper-slide {
    font-size: 120px;
  }
}
@media (max-width: 1024px) {
  .timeline .swiper-slide {
    text-align: center !important;
  }
  .timeline .swiper-slide {
    font-size: 110px;
  }
}
@media (max-width: 768px) {
  .timeline .swiper-slide {
    font-size: 100px;
  }
}
.timeline .swiper-slide-next {
  text-align: right;
}
.timeline .swiper-slide-next + .swiper-slide {
  text-align: right;
}
.timeline .swiper-slide-active {
  color: white;
  font-size: 220px;
  text-align: center;
}
@media (max-width: 1680px) {
  .timeline .swiper-slide-active {
    font-size: 180px;
  }
}
@media (max-width: 1440px) {
  .timeline .swiper-slide-active {
    font-size: 170px;
  }
}
@media (max-width: 1280px) {
  .timeline .swiper-slide-active {
    font-size: 160px;
  }
}
@media (max-width: 1024px) {
  .timeline .swiper-slide-active {
    font-size: 140px;
  }
}
@media (max-width: 768px) {
  .timeline .swiper-slide-active {
    font-size: 120px;
  }
}
</style>
