<template>
  <div class="gradient">
    <Nuxt />
  </div>
</template>

<script>
export default {}
</script>

<style>
.gradient {
  height: 100vh;
  position: relative;
  background-size: 500% 500%;
  background: linear-gradient(
    149deg,
    rgba(75, 7, 67, 1) 0%,
    rgba(16, 39, 59, 1) 43%,
    rgba(0, 0, 0, 1) 70%
  );
}
</style>
