<template>
  <div class="main-container">
    <canvas id="waves" />

    <div class="container">
      <Header />
    </div>
    <div class="content">
      <Timeline
        ref="timeline"
        @setActiveTimelineSlideIndex="activeTimelineSlideIndex = $event"
        @showNextEventSlide="$refs.event.nextSlide($event)"
        @showPrevEventSlide="$refs.event.prevSlide($event)"
      />
      <Event
        ref="event"
        :active-timeline-slide-index="activeTimelineSlideIndex"
        @showNextTimelineSlide="$refs.timeline.nextSlide()"
        @showPrevTimelineSlide="$refs.timeline.prevSlide()"
      />
    </div>
    <div class="container">
      <Footer />
    </div>
  </div>
</template>

<script>
import SineWaves from 'sine-waves'

export default {
  data() {
    return {
      activeTimelineSlideIndex: 0,
    }
  },
  mounted() {
    const waves = new SineWaves({
      el: document.getElementById('waves'),

      speed: 2,

      width() {
        return window.innerWidth
      },

      height() {
        return window.innerHeight
      },

      ease: 'SineInOut',

      wavesWidth: '100%',

      waves: [
        {
          timeModifier: -12,
          lineWidth: 1,
          amplitude: -95,
          wavelength: 45,
          strokeStyle: 'rgba(4, 131, 147, 0.3)',
        },
        {
          timeModifier: 2,
          lineWidth: 2,
          amplitude: -20,
          wavelength: 50,
          strokeStyle: 'rgba(4, 131, 147, 0.4)',
        },
        {
          timeModifier: -1,
          lineWidth: 1,
          amplitude: -190,
          wavelength: 100,
          strokeStyle: 'rgba(4, 131, 147, 0.4)',
        },
        {
          timeModifier: 2.5,
          lineWidth: 2,
          amplitude: -140,
          wavelength: 100,
          strokeStyle: 'rgba(4, 131, 147, 0.5)',
        },
        {
          timeModifier: -0.45,
          lineWidth: 5,
          amplitude: -200,
          wavelength: 100,
          strokeStyle: 'rgba(4, 131, 147, 0.6)',
        },
      ],
    })

    console.log(waves)
  },
}
</script>

<style>
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  overflow-y: auto;
}
#waves {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
</style>
